/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
align-items:center;
	height:300px;
	gap:20px;
}
.info{
	/* display:flex; */
	flex-direction:column;
	/* justify-content:space-around; */
align-items:center;
padding:10px;
	width:250px;
/* gap:1px */
}

img{
	width:400px;
	height:180px;
	object-fit:cover;
}
p{
	text-align:center;
	/* padding-top:0px; */
	margin-top:-23px;
}
h1{
	text-align:center;
	/* padding-top:10px; */
	margin-bottom:30px;
	/* padding-margin:-100px; */
}
button{
	text-align:center;
	margin-left:60px;
	padding:10px;
	background-color:red;
	border:none;
	color:white;
	font-weight:800;
}
a{
	color:white;
	font-weight:800;
	text-decoration:none;
}